<h1>{{book.title}}</h1>

{{#if authors}}
<p>  Written by: {{#each authors}}{{this.firstName}} {{this.lastName}}{{#unless @last}}, {{/unless}}{{/each}}
</p>
{{/if}}
{{#if genre}}
<p>Genre: {{genre.genreName}}</p>
{{/if}}
<p>Published in {{book.year}}</p>

