<h1>{{book.title}}</h1>

{{#if author}}
<p>Written by:  {{author.firstName}} {{author.lastName}} </p>
{{/if}}
{{#if genre}}
<p>Genre: {{genre.genreName}}</p>
{{/if}}
<p>Published in {{book.year}}</p>

